body{
    background-color: #FFCC38;
    color: #4A4A4A;
}
.container{
    width: 1400px;
    margin: 15px auto;
    display: flex;
    background-color: #FFCC38;
    flex-direction: column;
}

.header{
    text-align: center;
    font-size: 30px;
}

.header > h1{
    margin: 0;
}

.header > button {
    float: right;
    margin-right: 25px;
    background-color: transparent;
    padding: 10px;
    box-shadow: 5px 5px #FFDD67;
    transition: all .5s;
    cursor: pointer;
}

.header > button:hover {
    box-shadow: 10px 10px #646464;
}

.previewer{
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.previewer > textarea{
    min-width: 45%;
    display: inline-block;
    margin-right: 30px;
    padding: 15px;
    resize: none;
    outline: none;
    border: none;
    box-shadow: 10px 10px #646464;
    background-color: #FFDD67;
}

.right-area{
    min-width: 45%;
    height: 700px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #FFDD67;
    box-shadow: 10px 10px #646464;
}

.footer{
    width: 30%;
    margin: 10px auto;
    padding: 7px;
    display: flex;
    justify-content: space-evenly;
    background-color: #aa9b87;
}

.footer > a {
    color: #d2c3af;
    transition: all 1s;
}

.footer > a:hover {
    color: #faf1fa;
}